@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

.header{
    display: flex;
    align-items: center;
}
.header__logo{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: -0.045em;

}
.header__logo.rose{
    color: #ff00f2;
}

.logo{
    padding-left: 130px;
    padding-top: 15px;
    margin-bottom: 0;
}

.menu{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    list-style: none; /*убираем маркеры списка*/
    padding-top: 0;
    margin-bottom: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 890px; /*убираем левый отступ, равный 40px*/
    display: flex;
}
.menu-tag{
    padding-left: 125px;
}
.button {
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    /* Можно также использовать любые встроенные и кастомные шрифты, например, отсюда  */
    font-family: 'Montserrat',sans-serif;
    /* Тут можно поэкспериментировать */

    color: #ffffff;
}
.button.header {
    background: #000000;
    padding: 23px 57px;
    margin-left: 75px;
    border-radius: 7px;
    margin-top: 12px;
}

.button_text{
    /*left: calc(50% - 167px/2);*/
    /*top: calc(50% - 17px/2);*/
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 103% */

    text-align: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 8px;
}


.h1__text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 117px;
    line-height: 122%;
    margin-top: 250px;
    margin-bottom: 10px;
}
.h1__text.rose{
    color: #ff00f2;
}

.subtitle{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 120%;
    margin-top: 30px;
}
.intro__block{
    justify-content: center;
    margin-left: -13px;
    display: flex;
}
.button.intro__block {
    background: #000000;
    padding: 23px 109px;
    margin-left: 7px;
    border-radius: 7px;
    margin-top: 61px;
}
.intro__picture{
    margin-left: 320px;
    margin-top: 63px;
    height: auto;
    width: 921px;
}
.benefits__blocks{
    width: 100%;
    height: 475px;
    left: 1px;
    top: 860px;
    background: #000000;
    margin-top: 75px;
    display: flex;

}

.benefits__text1{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 22px;
    margin-left: 460px;

}

.benefits__text2{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 22px;
    margin-left: 0

}

.benefits__text3{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 22px;
    margin-left: -27px;


}

.benefits{
    margin-top: 133px;
    justify-content: center;
    justify-items: center;
    align-items: center;

}


.clock{
    width: auto;
    height: 72px;
    margin-left: 596px;

}
.notebook{
    width: auto;
    height: 72px;
    margin-left: 165px;
}
.target{
    width: auto;
    height: 72px;
    margin-left: 125px;
}

.problems__time-problem{
    display: flex;
}

.finances{
    margin-left: 426px;
    width: 652px;
    height: auto;
    margin-top: 86px;
}




.problems__text{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 135%;
    color: rgba(0, 0, 0, 0.7);
}
.problems__text.one{
    margin-left: 62px;
    margin-top: 36px;
}
.problems__title{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 54px;
    line-height: 126.06%;
    color: #000000;
    margin-bottom: 0;
}
.problems__title.one{

    margin-top: 365px;
    margin-left: 60px;
}
.problems__deadline{
    display: flex;
}

.problems__title.two{
    margin-left: 465px;
    margin-top: 394px;
}
.problems__text.two{
    margin-left: 465px;
    margin-top: 33px;
}
.mind{
    width: 601px;
    height: auto;
    margin-top: 53px;
}
.abilities{
    display: flex;
    margin-left: 423px;
}

.abilities.one{
    padding-top: 22px;
}
.abilities.two{
    margin-top: 34px;
}
.abilities__block {
    background: black;
    width: 429px;
    height: 228px;
    border-radius: 9px;
    margin-left: 40px;
}
.abilities__title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 55px;
    line-height: 59px;
    text-align: center;
    color: #000000;
    margin-top: 128px;
    margin-left: 0;
}

.abilities__text{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #FFFFFF;
    padding-left: 44px;
}
.abilities__block.first{

}
.abilities__img{
    height: 59px;
    padding-left: 44px;
    padding-top: 41px;
}



.form__image{
    height: 371px;
    width: auto;
    margin-top: 119px;
}

.form__title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 120%;
    color: black;
    margin-top: -6px;
}

.elem-group {
    margin: 40px 0;
}

label {
    display: block;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 4px;
    font-size: 1.25em;
}

input, select, textarea {
    border-radius: 6px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    font-size: 1.25em;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    width: 578px;
    padding: 24px;
    margin-top: -3px;
    margin-bottom: -16px;
    padding-left: 33px;
}

textarea {
    height: 250px;
}

.form__button {
    width: 578px;
    padding: 24px;
    background: #000000;
    color: white;
    border: 2px solid darkgreen;
    font-size: 1.25em;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    cursor: pointer;
}

.form__checkbox{
    margin-left: 567px;
    margin-top: 24px;
    margin-bottom: 52px;
    transform: scale(2.5);

}
.form__checkbox-text{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    margin-left: -269px;
    margin-top: -20px;
    color: rgba(0, 0, 0, 0.7);
}

.footer{
    width: 100%;
    height: 131px;
    background: black;
    margin-top: 350px;
}

.footer__logo{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 36px;
    line-height: 122.33%;
    letter-spacing: -0.045em;
    color: #FFFFFF;
    text-align: center;
    padding-top: 41px;
}

.footer__logo.rose{
    color: #ff00f2;
}
.abilities__title.rose{
    color: #ff00f2;
}
.abilities__img{
    
}
.form-reader-text{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;

}

.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0; // Скрываем фон и сам попап
    pointer-events: none; // Запрещаем ему быть целью событий
    transition: 0.5s all;
}

.popup__bg.active { // При добавлении класса 'active'
    opacity: 1; // Показываем фон и попап
    pointer-events: all; // Возвращаем события
    transition: 0.5s all;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 400px;
    padding: 25px;
    transition: 0.5s all;
}

.popup.active { // При добавлении класса 'active'
    transform: translate(-50%, -50%) scale(1); // Так же центрируем и плавно увеличиваем
    transition: 0.5s all;
}
.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
